*{
    margin:0;
    padding:0;
}

#navbar{
        padding:20px;
        height: 25px;
        background-color:Black;
}

.no-underline{
    text-decoration: none;
}

#logo{
    color:green;
}


.cart-container {
    width: 80%;
    margin: 0 auto;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.cart-item-image {
    width: 100px;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.remove-item {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
}

.checkout-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

a{
    color:white;
    margin-right: 180px;
  
}

button{
     background-color:blue;
     color:white;
    
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.product button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
